<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fatweb.oxygen.api.mapper.tool.ToolBaseMapper">
    <select id="selectOne" resultMap="toolBaseWithSourceMap">
        select t_b_tool_base.id          as tool_base_id,
               t_b_tool_base.name        as tool_base_name,
               t_b_tool_base.platform    as tool_base_platform,
               t_b_tool_base.create_time as tool_base_create_time,
               t_b_tool_base.update_time as tool_base_update_time,
               t_b_tool_base.deleted     as tool_base_deleted,
               t_b_tool_base.version     as tool_base_version,
               trtbds.base_version       as tool_base_base_version,
               tbtds.id                  as tool_base_source_id,
               tbtds.data                as tool_base_source_data,
               tbtds.create_time         as tool_base_source_create_time,
               tbtds.update_time         as tool_base_source_update_time,
               tbtds.deleted             as tool_base_source_delete,
               tbtds.version             as tool_base_source_version
        from t_b_tool_base
                 left join t_r_tool_base_data as trtbds
                           on trtbds.deleted = 0 and trtbds.base_id = t_b_tool_base.id and
                              trtbds.data_type = 'SOURCE' and trtbds.base_version = #{version}
                 left join t_b_tool_data as tbtds on tbtds.deleted = 0 and tbtds.id = trtbds.data_id
        where t_b_tool_base.deleted = 0
          and t_b_tool_base.id = #{id}
    </select>

    <select id="selectLatestVersionInfo" resultMap="toolBaseWithSourceMap">
        select tool_base_id,
               tool_base_name,
               tool_base_platform,
               tool_base_create_time,
               tool_base_update_time,
               tool_base_deleted,
               tool_base_version,
               tool_base_base_version,
               tool_base_source_id,
               tool_base_source_data,
               tool_base_source_create_time,
               tool_base_source_update_time,
               tool_base_source_delete,
               tool_base_source_version
        from (select t_b_tool_base.id                                  as tool_base_id,
                     t_b_tool_base.name                                as tool_base_name,
                     t_b_tool_base.platform                            as tool_base_platform,
                     t_b_tool_base.create_time                         as tool_base_create_time,
                     t_b_tool_base.update_time                         as tool_base_update_time,
                     t_b_tool_base.deleted                             as tool_base_deleted,
                     t_b_tool_base.version                             as tool_base_version,
                     trtbds.base_version                               as tool_base_base_version,
                     tbtds.id                                          as tool_base_source_id,
                     tbtds.data                                        as tool_base_source_data,
                     tbtds.create_time                                 as tool_base_source_create_time,
                     tbtds.update_time                                 as tool_base_source_update_time,
                     tbtds.deleted                                     as tool_base_source_delete,
                     tbtds.version                                     as tool_base_source_version,
                     row_number() over (partition by t_b_tool_base.id order by trtbds.id desc) as rn
              from t_b_tool_base
                       left join t_r_tool_base_data as trtbds
                                 on trtbds.deleted = 0 and trtbds.base_id = t_b_tool_base.id and
                                    trtbds.data_type = 'SOURCE' and trtbds.base_version != 0
                       left join t_b_tool_data as tbtds on tbtds.deleted = 0 and tbtds.id = trtbds.data_id
              where t_b_tool_base.deleted = 0
                and t_b_tool_base.id = #{id}) temp
        where temp.rn = 1
    </select>

    <select id="selectLatestVersion" resultType="long">
        select tool_base_base_version
        from (select trtbds.base_version                                                       as tool_base_base_version,
                     row_number() over (partition by t_b_tool_base.id order by trtbds.id desc) as rn
              from t_b_tool_base
                       left join t_r_tool_base_data as trtbds
                                 on trtbds.deleted = 0 and trtbds.base_id = t_b_tool_base.id and
                                    trtbds.data_type = 'SOURCE' and trtbds.base_version != 0
              where t_b_tool_base.deleted = 0
                and t_b_tool_base.id = #{id}) temp
        where temp.rn = 1
    </select>

    <select id="selectDist" resultMap="toolBaseWithDistMap">
        select t_b_tool_base.id          as tool_base_id,
               t_b_tool_base.name        as tool_base_name,
               t_b_tool_base.platform    as tool_base_platform,
               t_b_tool_base.create_time as tool_base_create_time,
               t_b_tool_base.update_time as tool_base_update_time,
               t_b_tool_base.deleted     as tool_base_deleted,
               t_b_tool_base.version     as tool_base_version,
               trtbdd.base_version       as tool_base_base_version,
               tbtdd.data                as tool_base_dist_data
        from t_b_tool_base
                 left join t_r_tool_base_data as trtbdd
                           on trtbdd.deleted = 0 and trtbdd.base_id = t_b_tool_base.id and trtbdd.data_type = 'DIST' and
                              trtbdd.base_version = #{version}
                 left join t_b_tool_data as tbtdd on tbtdd.deleted = 0 and tbtdd.id = trtbdd.data_id
        where t_b_tool_base.deleted = 0
          and t_b_tool_base.id = #{id}
    </select>

    <select id="selectPageWithVersions" resultMap="toolBaseWithVersionsMap">
        select t_b_tool_base.id as tool_base_id,
        t_b_tool_base.name as tool_base_name,
        t_b_tool_base.platform as tool_base_platform,
        t_b_tool_base.create_time as tool_base_create_time,
        t_b_tool_base.update_time as tool_base_update_time,
        t_b_tool_base.deleted as tool_base_deleted,
        t_b_tool_base.version as tool_base_version,
        trtbds.base_version as tool_base_base_version
        from t_b_tool_base
        left join t_r_tool_base_data as trtbds
        on trtbds.deleted = 0 and trtbds.base_id = t_b_tool_base.id and trtbds.data_type = 'SOURCE' and
        trtbds.base_version != 0
        <where>
            and t_b_tool_base.deleted = 0
            <foreach collection="platform" item="item" index="index" open="and t_b_tool_base.platform in ("
                     separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </where>
        order by trtbds.base_version desc
    </select>

    <select id="selectListWithVersion" resultMap="toolBaseWithVersionMap">
        select tool_base_id,
               tool_base_name,
               tool_base_platform,
               tool_base_create_time,
               tool_base_update_time,
               tool_base_deleted,
               tool_base_version,
               tool_base_base_version
        from (select t_b_tool_base.id                                                                    as tool_base_id,
                     t_b_tool_base.name                                                                  as tool_base_name,
                     t_b_tool_base.platform                                                              as tool_base_platform,
                     t_b_tool_base.create_time                                                           as tool_base_create_time,
                     t_b_tool_base.update_time                                                           as tool_base_update_time,
                     t_b_tool_base.deleted                                                               as tool_base_deleted,
                     t_b_tool_base.version                                                               as tool_base_version,
                     trtbds.base_version                                                                 as tool_base_base_version,
                     row_number() over (partition by t_b_tool_base.id order by trtbds.base_version desc) as rn
              from t_b_tool_base
                       left join t_r_tool_base_data as trtbds
                                 on trtbds.deleted = 0 and trtbds.base_id = t_b_tool_base.id and
                                    trtbds.data_type = 'SOURCE' and
                                    trtbds.base_version != 0
              where t_b_tool_base.deleted = 0
                and trtbds.base_version is not null) temp
        where temp.rn = 1
    </select>

    <resultMap id="toolBaseMap" type="toolBase">
        <id property="id" column="tool_base_id"/>
        <result property="name" column="tool_base_name"/>
        <result property="platform" column="tool_base_platform"/>
        <result property="createTime" column="tool_base_create_time"/>
        <result property="updateTime" column="tool_base_update_time"/>
        <result property="deleted" column="tool_base_deleted"/>
        <result property="version" column="tool_base_version"/>
    </resultMap>

    <resultMap id="toolBaseWithVersionMap" type="toolBase" extends="toolBaseMap">
        <result property="baseVersion" column="tool_base_base_version"/>
    </resultMap>

    <resultMap id="toolBaseWithSourceMap" type="toolBase" extends="toolBaseWithVersionMap">
        <association property="source">
            <id property="id" column="tool_base_source_id"/>
            <result property="data" column="tool_base_source_data"/>
            <result property="createTime" column="tool_base_source_create_time"/>
            <result property="updateTime" column="tool_base_source_update_time"/>
            <result property="deleted" column="tool_base_source_deleted"/>
            <result property="version" column="tool_base_source_version"/>
        </association>
    </resultMap>

    <resultMap id="toolBaseWithDistMap" type="toolBase" extends="toolBaseWithVersionMap">
        <association property="dist">
            <id property="id" column="tool_base_dist_id"/>
            <result property="data" column="tool_base_dist_data"/>
            <result property="createTime" column="tool_base_dist_create_time"/>
            <result property="updateTime" column="tool_base_dist_update_time"/>
            <result property="deleted" column="tool_base_dist_deleted"/>
            <result property="version" column="tool_base_dist_version"/>
        </association>
    </resultMap>

    <resultMap id="toolBaseWithVersionsMap" type="toolBase" extends="toolBaseMap">
        <collection property="versions" ofType="long">
            <result column="tool_base_base_version"/>
        </collection>
    </resultMap>
</mapper>
