<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fatweb.oxygen.api.mapper.tool.ToolDataMapper">
    <resultMap id="toolDataMap" type="toolData">
        <id property="id" column="tool_data_id"/>
        <result property="data" column="tool_data_data"/>
        <result property="createTime" column="tool_data_create_time"/>
        <result property="updateTime" column="tool_data_update_time"/>
        <result property="deleted" column="tool_data_deleted"/>
        <result property="version" column="tool_data_version"/>
    </resultMap>
</mapper>
