<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>您的密码已更改</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            color: #4D4D4D;
        }

        a {
            color: #4E47BB;
        }

        body {
            display: flex;
            background-color: #F1F2F7;
            justify-content: center;
            flex-wrap: wrap;
        }

        .view {
            display: flex;
            width: 800px;
            max-width: 100vw;
            align-content: center;
        }

        .card {
            margin: 20px;
            padding: 20px;
            border-radius: 12px;
            flex: 1;
            background-color: white;
        }

        .title {
            margin-bottom: 10px;
            text-align: center;
            font-weight: bolder;
            font-size: 1.6em;
            color: #4E47BB;
        }

        .retrieve-button a {
            padding: 20px 30px;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            background-color: #4E47BB;
            border-radius: 10px;
        }

        .not-reply {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="view">
    <div class="card">
        <div class="title">密&nbsp;码&nbsp;已&nbsp;更&nbsp;改</div>
        <div><strong>${username}</strong>，您好：</div>
        <div style="text-indent: 2em">您在 <a target="_blank" href=${appUrl}>${appName}(${appUrl})</a> 的密码已更改，操作
            IP 地址为 [${ipAddress}]。如果不是您自己的操作，请尽快检查您的账号！
        </div>
        <div class="not-reply">此邮件由系统自动发送，请勿回复！</div>
    </div>
</div>
</body>
</html>