<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fatweb.api.mapper.permission.UserMapper">
    <select id="getOneWithPowerByUsername" resultMap="userWithPowerMap">
        select t_user.id                     as user_id,
               t_user.username               as user_username,
               t_user.password               as user_password,
               t_user.locking                as user_locking,
               t_user.expiration             as user_expiration,
               t_user.credentials_expiration as user_credentials_expiration,
               t_user.enable                 as user_enable,
               t_user.last_login_time        as user_last_login_time,
               t_user.last_login_ip          as user_last_login_ip,
               t_user.create_time            as user_create_time,
               t_user.update_time            as user_update_time,
               t_user.deleted                as user_deleted,
               t_user.version                as user_version,
               tm.id                         as menu_id,
               tm.name                       as menu_name,
               tm.url                        as menu_url,
               tm.power_id                   as menu_power_id,
               tm.parent_id                  as menu_parent_id,
               te.id                         as element_id,
               te.name                       as element_name,
               te.power_id                   as element_power_id,
               te.menu_id                    as element_menu_id,
               t.id                          as operation_id,
               t.name                        as operation_name,
               t.code                        as operation_code,
               t.power_id                    as operation_power_id,
               t.element_id                  as operation_element_id,
               t.parent_id                   as operation_parent_id
        from t_user
                 left join (select * from t_user_group where deleted = 0) as tug on t_user.id = tug.user_id
                 left join (select * from t_group where deleted = 0 and enable = 1) as tg on tg.id = tug.group_id
                 left join (select * from t_role_group where deleted = 0) as trg on tg.id = trg.group_id
                 left join (select * from t_user_role where deleted = 0) as tur on t_user.id = tur.user_id
                 left join (select * from t_role where deleted = 0 and enable = 1) as tr
                           on tr.id = trg.role_id or tr.id = tur.role_id
                 left join (select * from t_power_role where deleted = 0) as tpr on tr.id = tpr.role_id
                 left join t_power as tp on tp.id = tpr.power_id
                 left join t_menu as tm on tp.id = tm.power_id
                 left join t_element as te on tp.id = te.power_id
                 left join t_operation as t on tp.id = t.power_id
        where t_user.deleted = 0
          and t_user.username = #{username};
    </select>

    <resultMap id="userBase" type="user">
        <id property="id" column="user_id"/>
        <result property="username" column="user_username"/>
        <result property="locking" column="user_locking"/>
        <result property="expiration" column="user_expiration"/>
        <result property="credentialsExpiration" column="user_credentials_expiration"/>
        <result property="enable" column="user_enable"/>
        <result property="lastLoginTime" column="user_last_login_time"/>
        <result property="lastLoginIp" column="user_last_login_ip"/>
        <result property="createTime" column="user_create_time"/>
        <result property="updateTime" column="user_update_time"/>
        <result property="deleted" column="user_deleted"/>
        <result property="version" column="user_version"/>
    </resultMap>

    <resultMap id="userWithPowerMap" type="user" extends="userBase">
        <result property="password" column="user_password"/>
        <collection property="menus" ofType="menu">
            <id property="id" column="menu_id"/>
            <result property="name" column="menu_name"/>
            <result property="url" column="menu_url"/>
            <result property="powerId" column="menu_power_id"/>
            <result property="parentId" column="menu_parent_id"/>
        </collection>
        <collection property="elements" ofType="element">
            <id property="id" column="element_id"/>
            <result property="name" column="element_name"/>
            <result property="powerId" column="element_power_id"/>
            <result property="menuId" column="element_menu_id"/>
        </collection>
        <collection property="operations" ofType="operation">
            <id property="id" column="operation_id"/>
            <result property="name" column="operation_name"/>
            <result property="code" column="operation_code"/>
            <result property="powerId" column="operation_power_id"/>
            <result property="elementId" column="operation_element_id"/>
            <result property="parentId" column="operation_parent_id"/>
        </collection>
    </resultMap>
</mapper>
